body {
    height: 100%;
    background-image: linear-gradient(to top, #cb9480d5, #ecbfafd5, #ec9e82d5);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #AB3A39;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; /* Tamanho da fonte para dispositivos móveis */
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.A {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

div > a img {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
    text-decoration: underline;
}

.h12 {
    color: black;
}

.m1 {
    display: block;
    background-color: #edd8d1d5;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(15, 15, 15);
    padding: 10px;
    margin: 20px auto; /* Centraliza horizontalmente e mantém margem vertical */
    width: 90%; /* Largura para dispositivos móveis */
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #AB3A39;
}

/* Estilos para telas menores que 600px (dispositivos móveis) */
@media (max-width: 500px) {
    h1 {
        font-size: 24px;
    }
    .m1 {
        width: 90%;
    }
    img {
        margin: 0 5px; /* Aumente o espaçamento horizontal entre as imagens */
    }
    .A {
        flex-direction: row; /* Altera o fluxo de volta para linha */
    }
}

header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #69362367;
    border-radius: 10px;
}

/* Estilos para o rodapé */
footer {
    bottom: 0;
    width: 100%;
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto no centro */
    font-size: 16px; /* Tamanho da fonte */
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
